@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:#44413C;
    --secodary-color:#44413ccb;
    --background-color:#F5F2EB;

    /* font-family: 'Volkhov', serif; */
    --primary-font:  'Volkhov', serif;
}


body{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    object-fit: contain;

    font-family: var(--primary-font);
    background-color: var(--background-color);
}

/* General styles for global context */
.color--secondary{
    /* opacity: 0.1; */
    color: var(--secodary-color);
}



div.hero--section{
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr;

    width: 100vw;

    padding: 0 5rem;    
}

div.navbar .active{
    text-decoration: underline;
    text-underline-offset: 10%;
}

.img--container {
  position: relative;
  width: 100%;
}

.img--container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #44413ccb;
  z-index: 1;
}

.img--container img{
    filter: grayscale(0.8);
}

.headline{
    @apply hover:text-blue-900 cursor-pointer hover:underline;
}

footer.footer{
}

.smooth--transition{
    @apply transition-all duration-500;
}